<div class="container">
<h1>Stupid coaching</h1>

<div class="you">
<h2><%= params[:question] %></h1>
<p class="italic">-You</p>
</div>

<div class="your_coach">
<h2><%= @question %></h1>
<p class="italic">-Your coach</p>
</div>
<%= link_to 'Ask a new question', 'ask' %>
</div>
